html{
    font-size: 62.5%; 
/* 16px * 62,5 10.00rem */
}
body{
  font: 1.6rem sans-serif;
  line-height: 1.6;
  margin: 0;
}
@font-face {
    font-family: "roadRage";
    src: url(../font/font2/azedo-light-webfont.woff2);
}
:root{
    --color-font: #FD972D;
    --color-background: #15313C; 
    --color-backBox: #E1D2B3; 
    --color-fontBox: #BFA765;
}
*{
    box-sizing: border-box; /* 100px largeur + 10px padding + 1px border */
}
ul, 
ol, 
p,
button,
figure, 
blockquote, h1, h2, h3, address{
    padding: 0;
    margin: 0;
    border: 0;
    list-style: none;
    font-style: normal;
}
button{
    background: transparent;
    font-size: inherit;
    border: 0;
}
a{
    text-decoration: none;
    color: #222;
}

body{
    /* background-image: url(../asset/outerspace-6.gif);
    background-repeat: no-repeat;
    background-size: 100%; */
    background-color: var(--color-background);
}

/* modale */
.parent-modale{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    z-index: -1;
    transition: all 0.4s ease-in-out;
}
.parent-modale .modale{
    max-width: 40rem;
    padding: 1rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0 0 1rem rgba(0,0,0,0.6);
    z-index: 2;
    cursor: pointer;


}
.parent-modale .modale .desc{
    position: static;
    transition: none;
    background-color: #fff;
    color: #222;

}
.modale-active{
    z-index: 1;
    opacity: 1;
    transform-origin: center center;
}
.parent-modale .modale .desc h3{
    font-size: x-large;
    font-weight: 400;
    background-color: #222;
    color: #fff;
    padding: 1rem;
}
.parent-modale .modale .desc p :is(time){
    padding: 1rem;
}
.parent-modale .modale button{
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 2rem;
    z-index: 2;
    color: #fff;
    cursor: pointer;
}


img{
    display: inline-block;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    object-fit: cover;
}

img:hover{
    transform: scale(1.1);
    transition: all .1s;
}

.material-icons{
    vertical-align: .5rem;
    font-size: 3rem;
}

/* CSS */

.grid-picture-large{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 0.5rem;
}
.entete{
    margin: 0 auto 2rem;
    display: block;
    width: 50%;
    border: .1rem solid rgb(34, 34, 34);
    padding: 1rem;
    background-color: var(--color-backBox);
}
.entete h2{
    color: var(--color-fontBox);
}
.film{
    margin: 0 auto;
    display: block;
    width: 70%;
    border: .1rem solid rgb(34, 34, 34);
    /* background-color: aliceblue;
    opacity: 50%; */
}

header h1{
    font-family: "roadRage";
    font-size: 6rem;
    color: var(--color-font);
    text-align: center;
    content: "";
    position: relative;
}

.logo{
    max-width: 10rem;
    float: left;
}

section button{
    cursor: pointer;
    display: block;
    border: none;
    border: .1rem solid black;
    padding: 2rem;
    margin: 1rem auto;
    background-color: var(--color-backBox);
}

@media screen and (min-width:60rem){
    
    .main{
        width: 100%;
        display: block;
        padding: 2rem;
        margin: 0 auto;
    }
    
    
}